body{
    font-size: 75%;
   
}
*{
   font-family: sans-serif;
}
.applyBlue{
    height: 80px;
    background-color: #D4E5FF;
    /* border: 2px solid black; */
}
.bgColorGray{
    height: 500px;
    background-color:  #F7F7F7;
}
#applycontainer{
    position: relative;
    z-index: 1;
  
}
#applyBox{
   
    position: absolute;
    /* border: 1px solid blue; */
    opacity: 1;
    top: 110px;
    z-index: 2;
 
 }
 #divFlex{
    display: flex;
 }
 .applyAdBox{
    border-radius: 4px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: white;
  margin-bottom: 20px;



 }
 #successJob{
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;

 background-color: white;
 margin-bottom: 20px;
 display: flex;
 }
 #applyLeftSection{
  /* border: 2px solid red; */
  width: 63%;
  margin-left: 40px;
}
#greenLine{
    height: 120px;
    width: 0%;
    border: 2px solid #28AD35;
    display: inline;
    box-sizing: border-box;
    border-radius: 4px;

}

#applyRightSection{
    /* border: 2px solid red; */
  width: 34%;
  margin-left: 20px;
    margin-right: 40px;

  /* padding-left: 20px; */


} 
.interestedJobs{
    background-color: white;
   padding: 20px 20px 10px 20px;
    border-radius: 4px;
       box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;
       margin-bottom: 15px;

}
#infoRight{
    background-color: white;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;
 
}
#aboutCompany{
    border-radius: 4px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;

}


.jdIcons{
    margin-right: 10px;
    /* filter: invert(1); */
    color: rgb(212, 211, 211);
}
.jdHighlightIcons{
    color: green;
    margin-left: 12px;
    margin-right: 13px;

}
.jdHighlightIconsCross{
    color: red;
    margin-left: 12px;
    margin-right: 13px;

}

#viewMore{
    margin-left: 22px;
}
.btn-outline-primary:hover{
    color: #0D6EFD;
    background-color: white;
}
.btn{
    border-radius: 3px;
}
.btn:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
     }
.applyAdBox> p:nth-child(5){
    display: inline;
    
}
.btn{
    float: right;
    margin-left: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.likeThis{
    
    margin-left: 360px;
}
.colorText{
    color: #4a90e2;
    cursor: pointer;
}

#applyLine{
    border: none;
    width: 1px;
    height: 21px;
    color: rgb(70, 68, 68); 
    background-color: rgb(139, 131, 131); 
    margin-left: 10px;
    margin-right: 10px;
 
            
}
#underLine{
    display: inline-flex;
    margin-bottom: 10px;
}


#applyLogo{
    width: 132px;
    height: 32px;
    margin-top: 20px;
    
    /* border: 1px solid red; */
}
#applyLogo>img{
    width: 100%;
    height: 100%;
}
#suggestedArea{
    padding-left: 20px;
    margin-top: 20px;
    line-height: 1.4em;
}
#suggestedBottom, .inJobOuter{
    display: flex;
    justify-content: space-between;
}
.suggestedHead{
    font-size: 120%;
    font-weight: 600;
    margin-bottom: 2%;
    margin-top: 20px;
}
#jbHighlight{
    background-color: #F1F7FF;
    padding: 20px 0px;
    margin-bottom: 10px;
    padding-right: 10px;
    font-size: 13px;
}
.spaceBottom{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.jobHighlighter{
    background-color: #4a90e2;
border-radius: 0 2px 2px 0;
width: 6px;
height: 22px;
display: inline-block;
}
.jobHighlightDetails{
    margin-left: 10px;
    
}

.missingSkills{
    background-color: white;
    border-radius: 20px;
    margin-left: 20px;
    border: 1px solid rgb(175, 174, 174);
    padding-left: 10px;
    padding-right: 10px;
}
.missingSkills:hover{
    cursor: pointer;
    border-color: #0D6EFD;
    color: #0D6EFD;
    
}
.jdRole{
    display: flex;
}
.jdRoleFirstDiv{
    width: 130px;
}
.jhBorder{
    border: 1px solid gainsboro;
    display: inline;
    padding: 3px 10px;
    border-radius: 15px;
    
}
.skillsDiv{
    margin-bottom: 10px;
}

.socialHandle{
display: flex;
justify-content: space-between;
padding-bottom: 20px;
}
#lastIEIL{
text-align: center;
margin-top: 40px;
}
#asd{
height: 92px;
background-color: #D4E5FF;
padding: 10px 30px 10px 40px;

}
.borderInside{
width: 100%;
height: 100%;
border-radius: 5px;
background-color: white;
padding: 13px 30px 13px 13px;
}
.applyNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#stickyBar{
/* display: none; */
position: fixed;
width: 100%;
z-index: 5;
}
#successOuterSection{
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
}
#sIconSize{
    color: #28AD35;
    margin-right: 13px;
    font-size: 140%;
}
.wordBold{
font-weight: bolder;
}
p{
margin: 0;
padding: 0;
margin-bottom: 5px;
}
.rightTextMargin{
    margin-bottom: 3px;
}
h5{
margin: 0;
margin-bottom: 2px;
}
.fadedText{
color: rgb(148, 143, 143);
}
.fontEleven{
font-size: 11px;
}
.fontThirteen{
font-size: 13px;
}
.fontFourteen{
font-size: 14px;
}
.fontSixteen{
    font-size: 16px;
}
.fontEighteen{
    font-size: 18px;
}
.fontFifteen{
    font-size: 15px;
}
.applyStarYellow{
    color: #FFC57C;
}
hr{
margin-top: 15px;
margin-bottom: 15px;
}
#topStickySend{    display: flex;
    align-items: center;
}

.applyFooter{
    background-color: #2E3339;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
}
.applyFooter>div>img{
    height: 70px;
    margin-top: 0;
}


.socialLogo{
    font-size: 150%;
}
.fb{
    color: #3B5998;
}
.twitter{
color: #38A0CD;
}
.linkedin{
color: #00759E;
}
.copyrightPart{
    background-color: #E2E2E2;
     text-align: center;
     padding: 10px;
    
}
.applyFooter>div>p{
   
    color: #9d9fa0;
}

#navItem{
    display: flex;
    margin: auto;
    padding: 10px;
    margin-top: -15px;
    font-family: 'Inter', sans-serif;
font-size: 18px;
color: #8695b6;
}
#navItem>div{
    
    padding: 10px;
    margin-left: 10px;
}
#navButton{
    display: flex;
    margin: auto;
    padding: 10px;
    

}

.btn-light{
    background-color: white;
    border: 1px solid #4780ff;
    color: #4780ff;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    margin-top: -15px;
    
}
.btn-orange{
    border: none;
    color: white;
    background-color: #ff7555;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    margin-top: -15px;
}
.dropbtn {
    background-color: white;
    color:darkgrey;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    width: 300px;
    line-height: 0px;
   
    font-size: 12px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 0;
    border-radius:10px;
  }
  
  .dropdown-content a {
    color: gray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  #navBar{
    display: flex;
    margin: auto;
    height: 80px;
padding-top: 5px;
/* border:1px solid black; */
position: relative;
z-index: 199;


}
.dropbtn{
    font-size: 13px;
    font-weight: 400;
}
.dropbtn:hover{
background-color: #F5F5F5;
color: #0D6EFD;
text-decoration: underline 3px #0D6EFD;
}
span{
    color: #0c0c0c;
}
  #logo>img{
    width: 100%;
    height: 50%;
    border-radius: 1px;
    margin-top: 20px;margin-left: 30px;
  }
  
  
  .dropdown-content a:hover {
     color: #0D6EFD;
    }
  
  .dropdown:hover .dropdown-content {
      display: block;
    }

#notification>a{
   
    text-decoration: none;
}
#notification{
    margin-top: 17px;
}









































