#navBar{
    display: flex;
    margin: auto;
padding: 10px;

}
span{
    color: #8695b6;
}
.heading{
    font-family: 'Roboto Slab', serif;  
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

#navItem{
    display: flex;
    margin: auto;
    padding: 10px;
    margin-top: -15px;
    font-family: 'Inter', sans-serif;
font-size: 18px;
color: #8695b6;
}
#navItem>div{
    
    padding: 10px;
    margin-left: 10px;
}
#navButton{
    display: flex;
    margin: auto;
    padding: 10px;
    

}

.btn-light{
    background-color: white;
    border: 1px solid #4780ff;
    color: #4780ff;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    margin-top: -15px;
    
}
.btn-orange{
    border: none;
    color: white;
    background-color: #ff7555;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    margin-top: -15px;
}

#head1{
   text-align: center;
}
#head1>h1{
    font-family: 'Roboto Slab', serif;
    padding-bottom: -10px;
}
#head1>div>p{
    color: #8695b6;
    font-family: 'Inter', sans-serif;
    
    
}

#searchBar{
    display: flex;
    margin: auto;
    width: 70%;
   margin-bottom: 30px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#searchBar>div{
    margin: auto;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    
  } 

  input::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
  }

  #experience{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: groove;
    border-bottom-style: hidden;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    padding-left: 5px;
  }
  
  .no-outline:focus {
    outline: none;
  }

#searchbtn{
    border: 1px solid #4780ff;
    color: white;
    font-family: 'Inter', sans-serif;
    border-radius: 20px;
    background-color: #4780ff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}



#container1{
    display: flex;
    background-color: #fefaf6;
    width: 55%;
    padding: 30px;
    margin: auto;
   
}
#comtainerImg{
    display: grid;
    grid-template-columns: repeat(2, 2Fr);
    grid-template-rows: auto;
    gap: 20px;
}
#containerDisplay{
   font-family: 'Inter', sans-serif;
    width: 50%;
    margin: auto;
}

#containerBtn{
    margin: auto;
}

#trending{
    display:flex;
    margin: auto;
    margin-left: 100px;
    margin-right: 100px;
   padding-top: 10px;
    text-align: center;
}
#trending>div{
  padding-left: 10px; 
  padding-top: 20px;
  margin: auto; 
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  border-radius: 10px;
}
#trending>div:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    cursor: pointer;
}

#feature{
    display: flex;
    margin: auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}
#feature>div{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; 
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    line-height: 20px;
    margin-left: 20px;

}
#feature>div:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    cursor: pointer;
}
#feature>div>div{
    padding-top: 3px;
    text-align: center;
    background-color: #fff8f8;
    height: 80px;
    width: 150px;
    line-height: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#feature>div>p{
    text-align: center;
    color: #8695b6;
}
#feature>div>button{
    background-color: #f1f5ff;
    border: none;
    padding: 15px;
   border-radius: 20px;
   color: #4780ff;
   font-family: 'Inter', sans-serif;
   font-weight: bolder;
}
#feature>div>button:hover{
    cursor: pointer;
    
}

#divBtn{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#divBtn>button{
    border-radius: 30px;
    width: 200px;
    margin-top: 30px;
    padding: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    
    
}


#roles{
    display: flex;
    margin: auto;
    width: 80%;
    
    border-radius: 10px;
    background-color: #fef9f4;
    margin-top: 100px;
    padding: 40px;
    padding-left: 80px;
    margin-bottom: 100px;
}
#roleInfo>h2{
    width: 250px;
    font-family: 'Roboto Slab', serif; 
}
#roleInfo>p{
    width: 200px;
    font-family: 'Inter', sans-serif;
    color: #8695b6;
    font-size: 15px;
    margin-top: -10px;
}
#roleType{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; 
    width: 60%;
    margin-right: 50px;
    margin-left: 100px;
    border-radius: 20px;
    margin-top: -80px;
    margin-bottom: -80px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 2Fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 80px;
}
#roleType>div{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; 
    text-align: center;
    
    padding-top: 10px;
    padding-bottom: 10px;
  line-height: 2px;
  border-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-left-radius:20px;
  
}
#roleType>div:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: scale(1.1);
    cursor: pointer;
}

#roleType>div>h2{
    width: 250px;
    font-family: 'Roboto Slab', serif; 
}
#roleType>div>p{
    width: 200px;
    font-family: 'Inter', sans-serif;
    color: #8695b6;
    font-size: 15px;
    margin-top: -10px;
}

#expComp{
    display: flex;
  margin: auto;
  width: 80%;
}
#expComp>div{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; 
    padding: 20px;
    margin-left: 20px;
    line-height: 5px;
    width: 20%;
    border-radius: 4px;
    border-top-right-radius: 20px;
    border-bottom-left-radius:20px;
    
}
#expComp>div:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    cursor: pointer;
}
#expComp>div>div>h4{
    font-family: 'Roboto Slab', serif; 
}
#expComp>div>div>p{
    width: 200px;
    font-family: 'Inter', sans-serif;
    color: #8695b6;;
}
.arrow{
    margin-left: 10px;
    padding-top: 20px;
}
.arrow:hover{
    cursor: pointer;
}











#vidProfile{
    display: flex;
    margin: auto;
    width: 80%;
    margin-top: 50px;
    background-color: #f7f8ff;
    border-radius: 10px;
    padding-top: 40px;
    padding-left: 80px;
    
}
#vidProfile>div>div>h2{
    font-family: 'Roboto Slab', serif; 
    width: 300px;
}

#vidBox{
    display: flex;
    
    margin: auto;
}
#vidBox>div>p{
    font-family: 'Inter', sans-serif;
    color: #8695b6;
    font-size: 12px;
    margin-top: -10px;
}
#vidInput{
    display: flex;
    margin: auto;
   background-color: white;
   margin-bottom: 30px;
    border-radius: 30px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
#vidInput>input::placeholder{
    font-size: small;
}
#vidBtn{
    border: 1px solid #4780ff;
    color: white;
    font-family: 'Inter', sans-serif;
    border-radius: 20px;
    background-color: #4780ff;
    padding: 10px;
    
}
#vidQr{
   border: 1px solid black;
   padding: 5px;
   height: 100px;
   border-radius: 10px;
   background-color: white;
   margin-left: 20px;
   
}
#vidQr>img{
    border-radius: 10px;
    height: 100px;
    width: 100px;
}
#vidBaseImg{
    display: flex;
    width: 100px;
    margin-top: -30px;
}
#vidBaseImg>div{
    margin: 10px;
}
hr{
    margin-top: 80px;
}