#navBar{
    display: flex;
    margin: auto;
padding: 10px;

}

#navItem{
    display: flex;
    margin: auto;
    padding: 10px;
    margin-top: -15px;
    font-family: 'Inter', sans-serif;
font-size: 18px;
color: #8695b6;
}
#navItem>div{
    
    padding: 10px;
    margin-left: 10px;
}
#navButton{
    display: flex;
    margin: auto;
    padding: 10px;
    

}

.btn-light{
    background-color: white;
    border: 1px solid #4780ff;
    color: #4780ff;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    margin-top: -15px;
    
}
.btn-orange{
    border: none;
    color: white;
    background-color: #ff7555;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    margin-top: -15px;
}

#head1{
   text-align: center;
}
#head1>h1{
    font-family: 'Roboto Slab', serif;
    padding-bottom: -10px;
}
#head1>div>p{
    color: #8695b6;
    font-family: 'Inter', sans-serif;
    
    
}

#searchBar{
    display: flex;
    margin: auto;
    width: 70%;
   
    border-radius: 30px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#searchBar>div{
    margin: auto;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    
  } 

  input::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
  }

  #experience{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: groove;
    border-bottom-style: hidden;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    padding-left: 5px;
  }
  
  .no-outline:focus {
    outline: none;
  }

#searchbtn{
    border: 1px solid #4780ff;
    color: white;
    font-family: 'Inter', sans-serif;
    border-radius: 20px;
    background-color: #4780ff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}



#container{
    display: flex;
    background-color: #fefaf6;
    width: 55%;
    padding: 30px;
    margin: auto;
   
}
#comtainerImg{
    display: grid;
    grid-template-columns: repeat(2, 2Fr);
    grid-template-rows: auto;
    gap: 20px;
}
#containerDisplay{
   font-family: 'Inter', sans-serif;
    width: 50%;
    margin: auto;
}

#containerBtn{
    margin: auto;
}