#jobDisplay{
    border: 1px solid black;
    width: 50%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
#jobIntro{
    display: flex;
    margin: auto;
   line-height: 5px;
}
#jobIntro>div{
    margin-left: 40px;
}
#jobIntro>div>img{
padding-top: 20px;
padding-left: 50px;

}
span{
    color: rgb(98, 98, 241);
}
#star{
    color: orange;
}
.light{
    color: gray;
    font-size: 12px;
}
#jobInfo{
    display: flex;
    
}
#jobInfo>div{
    padding-right: 20px;
}
.dot{
    
    font-size: 30px;
    
}

#jobDetails{
    margin-left: 40px;
    margin-top: 10px;
}
#detailInfo{
    width: 550px;
}
#jobBottom{
    display: flex;
    margin: auto;
}
#hotJobs{
    background-color: a#f4f5f7;
}
#hotJobs>i{
    color: red;
}
#days{
    background-color: #d7f2e3;
}
#days>i{
    color: #63a1b6;
}