body{
    background-color: #fafbfe;
    font-family: 'Poppins', sans-serif;
    height: 1235px;
  }
  #BigBag{
    display: flex;
    /* justify-content: space-around; */
  }

  #leftBox{
    width: 25%;
    float: left;
    /* border: 1px solid black; */
    margin: auto;
    height: max-content;
    margin-top: 150px;
    position: sticky;
    top: 200px;     
    margin-left: 40px;
  }

  
  img{
    text-align: center;
    margin-bottom: -55px;
    padding-left: 32%;
    padding: 30px 5px 10px 5px;
    margin-left: 170px;
  }

  h5{
    padding: 55px 15px 5px 15px;
    margin-bottom: 8px;
  }

  #leftRegister{
    border: 0.1px solid #6b7994;
    border-radius: 20px;
    background-color: white;
    border-style:dashed;
    width: 270px;
    margin-left: 100px;
  }
  
  li{
    display: flex;
    width: 90%;
    font-size: 14px;
    color:#6b7994 ;
  }
  i{
    color:#18c1a3 ;
    padding-right: 8px;
    font-size: 17px;
  }

  #rightBox{
    width: 70%;
    margin-right:150px;
    margin-top: 15px;
    margin-left: 35px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; 
    font-family: 'Roboto Slab', serif;
    padding: 35px 35px 25px 50px;
    /* border: 1px solid red; */
    height: 1000px;
    border-radius: 20px;
    display: flex;
  }
  #googleRight{
    border: 1px solid green;
    width: 300px;
    
  }

  #minime{
    border-left: 0.1px solid #6b7994 ;
    height: 150px;
    margin-top: 150px;
    width: 150px;
    margin-left: 50px;
  }

  .dot {
    height: 35px;
    width: 35px;
    background-color: #fafbfe ;
    border-radius: 50%;
    border: 1px solid gray;
    display: inline-block;
    margin-left: -15px;
    margin-top: 38%;
    text-align: center;
    padding-top: 3px;
  }

  #minime{
    display: flex;
  }

  .socialbtn google

  #find{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
  }

  #LoginLeftForm{
    width: 650px;
    /* border: 1px solid black; */
    margin-left: 1px;
  }

  #exampleInputEmail1 ,#mobile{
  font-size: 14px;
  /* line-height: 22px; */
  /* padding: 9px 16px 11px; */
  border-radius: 4px;
  }

  .form-label{
    margin-top: 12px;
    /* color: aquamarine; */
    font-size: 12px;
  }
  #workStatus ,#work{
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
    /* border: 1px solid blueviolet; */
  }
  #work{
    border: 0.11px solid #6b7994 ;
    width: 48%;
    border-top-right-radius: 5px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 5px;
  }
  .textWrap{
    color:#6b7994  ;
    /* margin-top: -25px; */
    /* border: 1px solid red; */
    padding: 0px 15px 15px 15px;
    height:100px;
  }
  .textWrap>p{
    font-size: 12px;
    margin-top: 5px;
  }

  .textWrap>h5{
    color: #4b87ff;
    padding-top: 5px;
  }

  #iconbag{
    font-size: 30px;
    margin-top: 30px ;
    padding-left: 15px;
    padding-right: 20px;
    color: #4b87ff;
  }

  .resumefont{
    font-size: 13px;
    color:#6b7994  ;
  }

  #button-addon1{
  border-radius: 25px;
  background-color: #ff7555;
  color: white;
  border: none;
  height: 30px;
  padding-bottom: 30px;
 
 
  }

  #resumebox{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 300px;
    border: 0.1px solid #6b7994;
    height: 30px;
    font-size: 12px;
  }

  .resumefont {
    margin-top: 10px;
    color: black;
  }

  .chk-label,.whatsappText{
    font-size: 12px;
    color: #6b7994;
  }
  .terms{
    font-size: 12px;
    color: #6b7994;
    margin-top: 50px;
  }
  #register{
    background-color: #4b87ff;
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    padding: 10px 50px 10px 15px;
  }

  #pagedown{
    display: flex;
    margin-top: 130px;
   width: 50%;
   margin-left: 600px;
   /* border: 1px solid red; */
   
  }
  #downDiv >p{
    /* border: 1px solid; */
    width:fit-content;
    margin-left: 700px;
    height: fit-content;
    font-size: 10px;
    text-align: center;
    color: #6b7994;
  }

  li{
    font-size: 12px;
    text-decoration: none;
    border-right: 1px solid #939dbf;
    /* border-left: 1px solid #6b7994; */
    width: auto;
    padding-left: 5px;
    padding-right: 20px;
  }
  a{
    text-decoration: none;

  }

  #tomobile{
    text-decoration: none;
    color: white;
    padding-right: 0px;
    
  }

  #exampleCheck1{
    border-radius: 10px;
    background-color: #18c1a3;
    border: 1px solid #939dbf;
    font-size: 10px;
    color: white;
  }
  